@{
    Layout = null;
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>试玩游戏 - 大奖娱乐官方网站</title>
<style>
body 
{
    background-color: Gray;
}

.imageContainer{
        position: absolute;
        width: 210px; /*the image width*/
        height: 117px; /*the image height*/
        left: 50%;
        top: 50%;
        margin-left: -105px; /*half the image width*/
        margin-top: -60px; /*half the image height*/
    }
</style>
<link rel="stylesheet" href="@ImageServer/Content/Styles/jquery.alerts.css" />
<script type="text/javascript" src="@ImageServer/Scripts/Plugins/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="@ImageServer/Scripts/Plugins/jquery.alerts.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "post",
            url: "/Game/TrialEnter",
            data: {
                platform: "@ViewBag.Platform"
            },
            beforeSend: function () {
            },
            complete: function () {
            },
            success: function (data) {
                if (data.IsLoggedIn == false) {
                    jAlert("登录超时，请重新登录", "登录超时", function () {
                        location.reload();
                    });
                } else {
                    if (data.Result == true) {
                        location.href = data.LoginUrl;
                    } else {
                        jAlert(data.ResultMsg, "进入游戏", function () {
                            window.close();
                        });
                    }
                }
            },
            error: function () {
            }
        });
    });
</script>
</head>
<body>
    <div class="imageContainer">
        <img src="@ImageServer/Content/Images/loading_platform.gif")" alt="" width="210" height="117" />
    </div>
</body>
</html>