@{
    ViewBag.Title = "免费开户 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}
@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/register.css" />
}
@section AdditionalScripts {
    <script type="text/javascript" src="@ImageServer/Scripts/Custom/register.js"></script>
    <script type="text/javascript" src="@ImageServer/Scripts/Plugins/jquery.emailmatch.js"></script>
    <script type="text/javascript">
         $(document).ready(function () {
             $("#regemail").emailMatch();
         });
      </script>
}

<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <div class="banner">
                    <img src="@ImageServer/Content/Images/register/register_03.jpg" alt="">
                </div>
                <div class="article">

                    <table width="100%">
                        <tr>
                            <td width="80%">
                                <h3 class="red">*20秒注冊*</h3>
                                <table class="registerForm" width="100%">
                                    <tr>
                                        <td class="titleText" width="65px">* 用户名</td>
                                        <td>888 <input type="text" name="regusername" id="regusername"  onkeyup="value=value.replace(/[^a-zA-Z0-9]/g,'')" style="width:100px"/></td><!--value=value.replace(/[^\w\/]/ig,'')-->
                                        <td class="message" id="regusername_msg">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="titleText">* 登录密码</td>
                                        <td><input type="password" id="regpassword" name="regpassword" />
                                        </td>
                                        <td id="userpwd_strength" style="display: none; bgcolor: #999999;" class="h" style="padding-bottom: 10px;">
                                            <p id="strength_L">低</p>
                                            <p id="strength_M">中</p>
                                            <p id="strength_H">高</p>
                                        </td>

                                        <td class="message" id="regpassword_msg">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="titleText">* 重复密码</td>
                                        <td><input type="password" id="regpassword_confirm" name="regpassword_confirm" /></td>
                                        <td class="message" id="regpassword_confirm_msg">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="titleText">* 真实姓名</td>
                                        <td><input type="text" id="regtruename" name="regtruename" /></td>
                                        <td class="message" id="regtruename_msg">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="titleText">* 手机号码</td>
                                        <td><input type="text" id="regcellphone" name="regcellphone" />   </td>
                                        <td class="regred message" id="regcellphone_msg">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="titleText">* 邮箱地址</td>
                                        <td><input type="text" id="regemail" name="regemail" />   </td>
                                        <td class="message" id="regemail_msg">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="titleText">&nbsp;&nbsp;QQ</td>
                                        <td><input type="text" id="regqq" name="regqq" />   </td>
                                        <td class="message" id="regqq_msg">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="10">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <button class="redButton" id="regsubmit">提交</button>
                                            <button class="redButton" id="regreset">重置</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" align="left">
                                            <table align="left" class="tncCheck">
                                                <tr>
                                                    <td><input type="checkbox" name="tnc" id="regterms" checked="checked" /></td>
                                                    <td><label for="tnc">本人已满18周岁, 并同意大奖娱乐之服务条款。</label> </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="20%" align='right' valign="top">
                                <img src="@ImageServer/Content/Images/member/register-info.jpg" alt="">
                            </td>
                        </tr>
                    </table>
                    
                    <div class="tncBox">
                       <strong> 注册前请阅读条款及细则：</strong><br />
                       
					   
					   
					   
					   
					   
					   
					   
					   
					   
					   

<p> 大奖娱乐是受到菲律宾博彩监管委员会的许可，提供网上娱乐场博彩  (Casino  Gambling)  服务。这些规则和条款的施行将依照2012年11月的修正案，用以取代以前的任何规则和条款。如果您不同意这些偶尔或需更改的条件与条款，或者其他任何强加条件，您可以选择不登录本网站且不接受相应服务。</p>
<p> <strong>定义</strong></p>
<ul>
  <li>
    <p> 以下条款适用于用户使用、连接和参与不时由PTPT8.COM  	( 统称  	&quot;  	PTPT8&quot; 、  	“ 我们  	” 及  	“ 我们的  	” ，视具体情况而定  	)  	通过  	WWW.PTPT8.COM  	网站及PTPT8.COM  	经营的其他网站  	(&quot;  	博彩网站  	&quot;)  	提供的网上  	“ 玩真钱  	” 模式的博彩服务  	(&quot;  	博彩服务  	&quot;)  	。本条款须与特定游戏的游戏规则  	(  	统称  	&quot;  	博彩规则  	&quot;)  	及适用于博彩服务和博彩软件的使用及与连接进入博彩网站和其中所含博彩信息的其他条款  	(  	统称  	&quot;  	本条款  	&quot;)  	一并阅读。</p>
  </li>
  <li>
    <p> &quot;  	博彩  	&quot;  	就本条款而言，包括但不限于通过博彩网站提供的任何及  	/  	或一切博彩服务进行的投注、游戏及各类博彩活动;<br />
      &quot;  	连接设备  	&quot;  	指任何应用连接设备，包括但不限于为使用和连接博彩网站、参与博彩服务而采用的个人电脑、笔记本电脑、移动电话、个人数码助理、  	PDA  	电话、手提设备。<br />
      &quot;  	博彩软件  	&quot;  	指经监管机关批准的、安装在用户连接设备上的电脑程序、数据文件或任何其他资讯及信息内容  	(  	包括与之有关的任何用户信息  	)  	，以便用户通过用户连接设备使用、连接和参与在博彩网站上提供的博彩服务;</p>
  </li>
</ul>
<p> <strong>同意</strong></p>
<ul>
  <li>
    <p> 用户在注册过程中于  	&quot;  	本人已满  	18  	周岁，并同意大奖娱乐之服务条款  	&quot;  	字样之后的方框内打勾，并点击相应的  	&quot;  	储存并继续  	&quot;  	按钮，即表示用户确认并同意：</p>
    <ol>
      <li>
        <p> 用户已经阅读、完全理解并同意本条款;</p>
      </li>
      <li>
        <p> 本条款构成用户与大奖娱乐之间关于博彩服务使用的具有法律约束力的协议  		(&quot;  		使用协议  		&quot;)  		。</p>
      </li>
    </ol>
  </li>
  <li>如果用户不同意本条款中的任何条款，请勾  	&quot;  	本人不同意  	&quot;  	按钮，并请不要点击  	&quot;  	储存并继续  	&quot;  	按钮，不要试图使用或继续使用任何博彩服务或下载和  	/  	或安装博彩软件。
  </li>
</ul>
<p> <strong>修改</strong></p>
<ul>
  <li>
    <p> 我们保留不时修订、更新和修改本条款和博彩规则  	(  	或其任何部分  	)  	的绝对权利。上述任何修订、更新或修改将在博彩网站上公布。经修订、更新或修改的本条款和博彩规则于其在博彩网站上公布时生效。用户在上述修订、更新或修改公布之后继续通过博彩网站和博彩设备使用、连接和参与博彩服务，视为用户同意并接受所公布的经修改或更新的本条款和博彩规则。</p>
  </li>
  <li>
    <p> 用户确认并同意，用户自行负责查阅上述修订、更新和  	/  	或修改。大奖娱乐可自主决定将上述修订、更新和修改通知用户。上述修订、更新和修改可由大奖娱乐自主决定不时通知用户，但大奖娱乐并无任何义务向用户通知上述上述修订、更新和修改。</p>
  </li>
</ul>
<p> <strong>博彩资讯和知识产权</strong></p>
<ul>
  <li>
    <p> 通过博彩网站、博彩服务、博彩设备和  	/  	或任何其他方式提供、向用户公开、可被用户获取、产生和  	/  	或收集的信息、资料和数据，包括但不限于营销计划和资料、成绩、统计数据、概率和投注数据、文字、图标、音像资讯  	(&quot;  	博彩资讯  	&quot;)  	，属于大奖娱乐和  	/  	或大奖娱乐的许可人所有，仅供用户用于个人非商业性目的。</p>
  </li>
  <li>
    <p> 除在本条款中明文规定的外，未经我们或第三方资料专有人的事先书面同意，用户不得以任何方式或手段改编、拷贝、修改、复制、储存、散发、展示、公开播放、制入有线节目、出版、传送、出售、出借、出租、许可使用博彩资讯或以其他方式使得任何他人或其他网站、网上服务或公告板或任何其他媒体和  	/  	或连接设备可以获得、使用、或连接上述博彩资讯。</p>
  </li>
  <li>
    <p> 在博彩网站和  	/  	或通过连接设备提供的博彩软件、博彩服务和博彩资讯享受著作权、商标和其他形式的知识产权和专利保护。博彩网站上的博彩软件、博彩服务和博彩资讯的所有权利、产权和利益均属大奖娱乐和  	/  	或大奖娱乐许可人所有、许可其使用或受其控制。用户确认，用户并未通过使用或连接在博彩网站和  	/  	或通过连接设备提供的博彩软件、博彩服务和博彩资讯取得上述博彩软件、博彩服务和博彩资讯的任何权利、利益或许可。</p>
  </li>
</ul>
<p> <strong>使用条件</strong></p>
<ul>
  <li>
    <p> 作为使用博彩服务的条件，用户保证并承诺，用户不得以任何违反适用于用户的任何法律、违反本条款和  	/  	或被本条款所禁止的目的使用或连接博彩网站、博彩服务、博彩软件和  	/  	或博彩资讯。除了本条款中所列一切其他声明和保证之外，用户在此进一步保证并承诺，作为使用博彩服务的条件：</p>
    <ol>
      <li>
        <p> 用户以本人的身份及名义进行活动，而非代他人进行交易；</p>
      </li>
      <li>
        <p> 用户的法律行为能力不受限制；</p>
      </li>
      <li>
        <p> 用户未被诊断为赌博强迫症或问题赌博人士，或认为自己并无相关问题；</p>
      </li>
      <li>
        <p> 用户年龄  		(a)  		至少已满  		18  		周岁；或  		(b)  		已满任何适用于用户的法律所规定的其他法定年龄或成人年龄，以较大者为准  		(“  		法定年龄  		”)  		；</p>
      </li>
      <li>
        <p> 用户充分了解在使用博彩服务的过程中亏损资金的风险；</p>
      </li>
      <li>
        <p> 用户存入的款项并非来源于犯罪或其他非法、未经授权或许可的活动；</p>
      </li>
      <li>
        <p> 对用户的户名、账号和密码予以保密，防止非法连接或使用，在户名、账号或密码以任何方式失密的情况下立即更改密码或通知我们；</p>
      </li>
      <li>
        <p> 对以用户的户名、账号和密码通过博彩网站和  		/  		或连接设备连接和使用博彩服务的任何及所有活动自行承担责任，不论上述连接和  		/  		或使用是否经用户授权或为用户所知晓；大奖娱乐将不会偿付因第三方使用用户账户而造成的任何损失；用户须承担任何第三方使用其登录资料而产生的全部责任，并不得损害大奖娱乐关利益；</p>
      </li>
      <li>
        <p> 不以任何干扰或可能干扰其他用户使用博彩服务和博彩网站的方式使用博彩服务、博彩网站、连接设备、博彩软件和博彩资讯，不实施任何降低或可能降低博彩服务和博彩网站运行效能的行为；</p>
      </li>
      <li>
        <p> 不征集或以任何方式企图获取有关其他用户的任何资料；</p>
      </li>
      <li>
        <p> 不上传或散发任何含有病毒、已经毁坏或可能影响连接设备、博彩软件、博彩服务和  		/  		或博彩网站运行效能的程序、文件或数据；</p>
      </li>
      <li>
        <p> 用户通过博彩网站和  		/  		或连接设备连接或使用博彩服务和博彩资讯不违反适用于用户的法律；亦不违反对用户个人或用户目前连接博彩网站或使用连接设备所在国家所有人具有约束力的合约义务；同时不受上述法律或合约义务禁止；</p>
      </li>
      <li>
        <p> 不使用任何设备、机械、装置、软件、程序或其他方法  		(  		或任何具有上述性质的事物  		)  		干扰或企图干扰博彩服务、连接设备、博彩软件、博彩网站、博彩资讯或博彩网站和  		/  		或连接设备提供的任何交易的正常运行；尤其不得试图和使用任何智能程序或系统（包括机械、计算机、软件或其他自动化系统）来攻击大奖娱乐，已达到诈骗网站或用户的目的；</p>
      </li>
      <li>
        <p> 不向博彩网站和  		/  		或连接设备或任何其他用户发布或传送任何违法、骚扰性、侮辱性、威胁性、诬蔑性、诽谤性、淫秽、猥亵、煽动性、种族歧视、色情或粗俗的内容，或可构成或教唆犯罪、引发民事责任或以其他方式违反任何法律的内容；</p>
      </li>
      <li>
        <p> 用户不是大奖娱乐或其任何关联公司的管理人员、董事、雇员、顾问、关联人或代理人，或与上述任何人员具有亲属或同屋居住关系；</p>
      </li>
      <li>
        <p> 不干扰其他用户使用博彩服务、博彩网站、博彩软件、连接设备和  		/  		或博彩资讯或发起和  		/  		或参与调查、竞赛、连锁信或发布  		/  		传送  		“ 垃圾邮件  		” 或其他未受请求的群发邮件。</p>
      </li>
    </ol>
  </li>
</ul>
<p> <strong>注册大奖娱乐博彩账户和会员资格</strong></p>
<ul>
  <li>
    <p> 欲通过大奖娱乐参与博彩、使用博彩服务，用户须按博彩网站所述程序完成开立账户和会员资格的申请  	(“  	会员资格申请  	”)  	。</p>
  </li>
  <li>
    <p> 大奖娱乐将采取必要和适当的措施对用户向我们披露的个人资料予以保密。我们将对所收到的用户个人数据和投注资料予以严格保密，除非法律、法规、规章、法院或监管机关或任何有关博彩管理或执法机关的命令或决定或本条款另有规定要求披露。用户对其个人资料的保密自行承担责任。我们保留在完成博彩网站所提供的博彩服务的付款手续所需的范围内向我们支付结算服务提供者和金融机构披露用户个人数据的权利。</p>
  </li>
  <li>
    <p> 用户还须自行负责确保用户使用和连接博彩网站和其中所含的博彩资讯、下载安装博彩软件和  	/  	或使用和参与博彩服务不适用于受到法律禁止的用户。</p>
  </li>
  <li>
    <p> 我们仅对在线即时帮助所公布的大奖娱乐娱乐官方备用网站负责。会员登录其它任意貌似大奖娱乐娱乐网站的链接，所造成的任何损失我们将不承担任何责任。如有其他疑问，请直接联络我们的在线客服。</p>
  </li>
 
  <li>
    <p> 用户在大奖娱乐仅可开立一个账户。若我们发现用户在大奖娱乐开设不止一个账户，我们保留自行决定将用户在大奖娱乐的所有账户作为一个合并账户处理、取消多余账户或与用户终止本协议的权利。</p>
  </li>
</ul>
<p> <strong>&nbsp;下注及接受下注</strong></p>
<ul>
  <li>
    <p> 我们仅接受用户按本条款通过互联网和  	/  	或连接设备进行下注。其他下注形式  	(  	邮寄、电邮、传真等  	)  	一概不予接受。我们即使收到其他形式的下注，不论赌盘最后开出的结果如何，均视为无效。</p>
  </li>
  <li>
    <p> 受限于本条款其他规定，用户输入正确的用户名和密码且账户内存有足够余额，用户的投注行为将被视作有效。</p>
  </li>
  <li>
    <p> 用户均须对使用下列内容（或其各项结合）所进行的所有活动和交易负责（无论下述使用是否得到授权）：</p>
    <ol>
      <li>
        <p> 用户姓名；和  		/  		或</p>
      </li>
      <li>
        <p> 用户账户号；和  		/  		或</p>
      </li>
      <li>
        <p> 用户的用户名和密码。</p>
      </li>
    </ol>
  </li>
  <li>用户自行负责确保其下注细节的准确性。用户需了解投注规则，包括了解此次下注所有的适用规则，以及在确认下注、将注单传送给我们前，检查投注内容是否有误。受限于本条款其他规定，一旦用户下注且我们确认接受用户的下注，即为用户下注的最终确证；用户不得取消、撤回下注或更改下注细节。
  </li>
  <li>所有下注均将收录在交易记录数据库。大奖娱乐的交易记录应当为所有交易及下注的相关信息的最终确证。
  </li>
  <li>收到款项的投注将被优先确认下注，（若未收到，我们保留取消此下注的权利）依据本条款其他规定，当交易代号出现在用户屏幕上并有效显示在用户的交易历史中时，下注即视为有效及被大奖娱乐接受。
  </li>
  <li>客户必须个人下注，经相同或不同客户的重复投注将可能被怀疑有作弊嫌疑，特别是这些相似账户均为某一短时间内注册生成的。
  </li>
</ul>
<p> <strong>博彩软件使用权</strong></p>
<ul>
  <li>
    <p> 用户特此确认并同意，用户通过连接设备以下载或其他方式获得的以便其远程使用的博彩网站的博彩软件属于博彩服务的一部分，为大奖娱乐和  	/  	或PTPT8的许可人的财产；用户对该等博彩软件不享有任何权利。用户不得以任何方式或以任何手段改编、拷贝、修改、复制、储存、散发、展示、公开播放、传播、广播、制入有线节目、出版、传送、出售、出借、出租、许可使用博彩软件或以其他方式交流或使博彩软件对任何他人或其他网站、网上服务或公告板或任何其他媒体和  	/  	或连接设备开放。</p>
  </li>
  <li>
    <p> 大奖娱乐特此授予用户在联连设备上安装和使用博彩软件的非专属性、不可转让的个人使用权  	(“  	使用权  	”)  	，但博彩软件的安装和使用所用的连接设备须以用户为主要使用人。</p>
  </li>
  <li>
    <p> 大奖娱乐授权和散发博彩软件的目的仅为博彩软件的终端用户能完全连接和使用博彩服务</p>
  </li>
  <li>
    <p> 用户不得：</p>
    <ol>
      <li>
        <p> 安装或转载博彩软件至其他连网设备的服务器或采取其他步骤使博彩软件可以通过任何形式或公告板、网上服务或远程拨号或网络使他人得到；</p>
      </li>
      <li>
        <p> 散发、出借、出租、转授权、拷贝、转让、转移或以其他方式使任何其他人得到博彩软件和  		/  		或使用博彩软件的使用权；</p>
      </li>
      <li>
        <p> 允许其他人使用博彩软件；</p>
      </li>
      <li>
        <p> 设立或提供任何方式  		(  		包括但不限于仿真程序  		)  		使他人使用博彩软件；</p>
      </li>
      <li>
        <p> 翻译、反向工程、反向编译，反汇编、修改、破解、全部或部分地以博彩软件和  		/  		或其源代码为基础开发衍生产品；</p>
      </li>
    </ol>
  </li>
  <li>用户承认并同意，博彩网站上提供的及或通过联连设备或其他方式提供的博彩软件或博彩软件用户方件均归大奖娱乐和  	/  	或大奖娱乐许可方所有，并受著作权、商标权和其他知识产权和专利权的保护。用户特此承认，博彩软件的结构、组织和源代码为大奖娱乐和大奖娱乐许可人的极具价值的商业秘密。用户承认除根据使用权向用户授予的权利外，用户对博彩软件和  	/  	或博彩软件用户文件不享有任何权利和权益。
  </li>
  <li>本协议因任何原因终止，本协议顶下所授予的使用权自动作废，用户应停止使用博彩软件并将博彩软件从联连设备中卸载。
  </li>
</ul>
<p> <strong>领取彩金</strong></p>
<ul>
  <li>
    <p> 用户的彩金经结算后，将存入用户账户，具体提取办法参照我们如何取款的流程。</p>
  </li>
  <li>
    <p> 在用户所持的信用  	/  	借记卡发行银行允许的情况下，彩金可以直接存入用户交纳押金所用的信用  	/  	借记卡账户。</p>
  </li>
  <li>
    <p> 投注额必须达到存款额的１倍才能进行提款。</p>
  </li>
  <li>
    <p> 在任何适用法律下就彩金所应缴付的税款和费用均由用户自行负责缴付。</p>
  </li>
</ul>
<p> <strong>促销和奖励</strong></p>
<ul>
  <li>
    <p> 所有促销、奖励和特价均须遵守本条款及大奖娱乐针对具体促销活动所不时制定的规定。大奖娱乐保留在任何时候中止、取消或修改该等奖励或促销和  	/  	或其相关规定及条款的权力。</p>
  </li>
  <li>
    <p> 若大奖娱乐认定有人滥用某项奖励或促销活动，或可能因该等滥用行为而获利，大奖娱乐有权自主决定以其认为合适的方式阻止、拒绝，中止、或撤消任何用户参加有关奖励或促销活动</p>
  </li>
</ul>
<p> <strong>免责声明及特别注意事项</strong></p>
<ul>
  <li>
    <p> 博彩完全是一项个人选择，以个人判断与分析为依据，且风险自负的行为。用户下注的同时，即表明用户承认博彩服务、博彩网站和博彩资讯并无冒犯性，且并不令人反感、不公平或有悖公共道德。一些司法管辖区对网上及  	/  	或岸外网上博彩的合法性尚无定论；而另一些司法管辖区则明确规定网上博彩（在司法管辖区域内和  	/  	或岸外）均属非法行为。我们不鼓励任何人在非法的情况下使用和连接博彩网站、博彩资讯和  	/  	或博彩服务。博彩服务、博彩资讯和博彩网站的设立和提供并不构成我们发出要约、招揽或邀请任何人在那些规定使用或连接上述内容为非法行为的国家内使用或连接上述内容。用户独立承担遵守其所适用之相关法律规定的责任，而大奖娱乐不就博彩服务、博彩软件、博彩网站或其中的博彩资讯与用户所适用的法律规定相符作出任何声明。</p>
  </li>
  <li>
    <p> 博彩服务、博彩软件、博彩网站和博彩资讯均按  	&quot;  	原状原则  	&quot;  	提供。除本条款明示的外，大奖娱乐不就博彩服务、博彩网站、博彩软件和博彩资讯作出任何声明或保证。故所有有关博彩服务、博彩软件、博彩网站和博彩资讯的声明或保证，不论明示或暗示、法定与否，特此在法律允许的最大范围内予以排除。大奖娱乐不就博彩服务、博彩软件、博彩网站或博彩资讯的准确性、及时性、安全性、连续性、正确性或抗外界干扰性（任何性质），以及更正所发现的任何缺陷作出保证。大奖娱乐亦不保证博彩服务、博彩软件、博彩网站和博彩资讯或提供上述内容的服务器不含有任何病毒、间谍软件、广告软件或其他具恶意性、破坏性或可导致电脑瘫痪的代码、程序、数据、宏指令或可影响任何连接设备和  	/  	或其中所存数据的其他软件或特性。用户承诺将自行自费采取预防措施，确保其使用或连接博彩服务所用的过程、方法和  	/  	或连接设备、以及博彩软件的安装和博彩网站的使用，均不会带来电脑病毒、间谍软件、广告软件或具恶意性、破坏性或可导致电脑瘫痪的其他代码，或导致其连接设备或其中所存数据受到干扰和破坏的其他风险。</p>
  </li>
  <li>
    <p> 若发生与账户结算或博彩服务的其他方面有关的系统错误或通讯错误，大奖娱乐不承担由此引起的任何责任。在此情况下，大奖娱乐有权取消所有受上述错误影响的下注并采取任何更正行动。</p>
  </li>
  <li>
    <p> 在任何情况下，因用户连接、使用或参与博彩服务、博彩网站、博彩软件和博彩资讯而发生任何损害、损失或支出，包括用户之连接设备或所存数据受到任何干扰或破坏，大奖娱乐不承担任何责任。此外，对博彩服务、博彩网站、博彩软件和博彩资讯中由第三方  	(  	包括但不限于宽带和电信服务供应商  	)  	所提供的内容，大奖娱乐亦不作任何保证和声明且不予负责；在任何情况下，大奖娱乐均不对上述第三方合作者的任何违约、过错或不作为承担责任。</p>
  </li>
  <li>
    <p> 在任何情况下，大奖娱乐、其关联公司、关联方、合伙人、管理人员、雇员和代理均不对任何损害、损失或支出承担责任，包括但不限于因用户连接或使用博彩服务、博彩网站、博彩软件和博彩资讯、或与用户连接或使用博彩服务、博彩网站、博彩软件和博彩资讯有关的、或因用户下载、安装或使用博彩软件所引起的任何直接、间接、因果性或特别的损害或经济损失，不论大奖娱乐是否被告知可能发生上述损害、损失或支出。在任何情况下，就与用户下注直接相关的任何事宜、事件或情形所引起或与之相关的任何损失或损害  	(  	不论是否基于合约、侵权、严格责任或其他原因  	)  	，在法律允许的最大范围内，大奖娱乐对用户的全部责任  	(  	如有  	)  	应不超过用户的相应下注额。</p>
  </li>
  <li>
    <p> 用户承认，博彩资讯在性质上可能全部或部分地具有临时性，并且可按本条款予以修订、修改或更改。因此，用户承认博彩资讯仅为参考之用，不构成任何建议、意见或招揽，不构成任何与大奖娱乐相关的具约束力的声明、保证、合约义务或用户依据的内容和基础。</p>
  </li>
  <li>
    <p> 用户特此承认并同意，在考虑所有相关因素，包括但不限于用户向大奖娱乐提供对价的价值后，本条款所述之所有责任豁免和义务排除代表用户和大奖娱乐协议中公平、合理的风险分担和利益分配。用户进一步同意上述免责和限制在适用法律允许的最大范围内具有强制执行力。</p>
  </li>
</ul>
<p> <strong>与外部网站的链接</strong></p>
<ul>
  <li>
    <p> 博彩网站可能含有非大奖娱乐所维护的外部网站链接。此外部网站链接仅为方便用户而提供，大奖娱乐不能确保上述链接所含内容的准确性或时效性，且不作任何管制及不负上任何责任。</p>
  </li>
  <li>
    <p> 大奖娱乐不会对外部网站的内容资讯，隐私保护政策或在外部网站宣传、出售或以其他方式开放的任何产品或服务承担任何责任、负责提供或审查、予以批准或核准、或作出任何声明与保证。</p>
  </li>
  <li>
    <p> 大奖娱乐不就用户因使用博彩网站所提供的任何外部网站链接而发生的或与之相关的任何损失或损害承担合约、侵权、疏忽或其他责任。</p>
  </li>
  <li>
    <p> 除非明文规定，否则大奖娱乐在任何情况下均不得被视为与外部网站上的任何声明、意见、产品或服务商标、标记、标志或其他图案、在外部网站宣传、出售或以其他方式开放的任何产品或服务、外部网站的经营者或所有者、或以任何方式与外部网站相关的任何人具有任何关系或联系。</p>
  </li>
</ul>
<p> <strong>与博彩网站的链接/框入</strong></p>
<ul>
  <li>
    <p> 用户不得就博彩网站或博彩服务的任何部分设置链接、深链接或文中链接  	(deep  	or in-line links) 、或框入  	(frame)  	博彩资讯。</p>
  </li>
</ul>
<p> <strong>违反本条款</strong></p>
<ul>
  <li>
    <p> 大奖娱乐保留就违反本条款的行为依法寻求法律保护的权利，包括自行决定在任何时候基于任何理由拒绝或限制任何特定的人连接博彩服务、博彩网站和博彩资讯、阻止通过特定互联网地址或连接设备连接博彩服务、博彩网站和博彩资讯的权利。</p>
  </li>
</ul>
<p> <strong>优先顺序</strong></p>
<ul>
  <li>
    <p> 博彩规则  	(  	若适用  	)  	和适用于使用和连接博彩服务、博彩软件、博彩资讯和博彩网站的任何其他条款均构成本条款的组成部分。</p>
  </li>
  <li>
    <p> 若博彩规则和适用于使用和连接博彩服务、博彩软件、博彩资讯和博彩网站的任何其他条款与本条款存有抵触，则除非另行明文规定，否则以本条款为准。</p>
  </li>
</ul>
<p> <strong>不可抗力</strong></p>
<ul>
  <li>
    <p> 若大奖娱乐发生其下列无法控制的任何性质的事件  	(  	包括但不限于天灾、适用法律法规的变更、政府、民政或军事机关的作为或不作为、法院命令、恐怖活动、闪电或火灾、罢工、停工或其他劳资纠纷、洪水、干旱、战争、暴乱、盗窃、传输或系统故障、通讯或宽带服务故障或中断、电力供应或设备故障或不足、恶劣气候、地震和自然灾害  	)  	未能或迟延履行本条款所规定的任何义务，不构成违反本条款。用户同意采取一切必要行动尽量减轻上述事件的后果。</p>
  </li>
</ul>
<p> <strong>可分割性</strong></p>
<ul>
  <li>
    <p> 若任何条款或其任何部分被有关机关认定为在任何程度上无效、不合法或不可执行，则该条款或该部分在上述程度上与其他条款分割，其他条款在法律允许的范围内继续完全有效。</p>
  </li>


					   
					   
					   
					   
					   
					   
					   
					   
					   
					   
					   
					   
					   
					   
                        <br /><br />
                        本人清楚及同意以上所有之使用条文及细则。
                    </div>
                    
                    <p>合作银行:</p>
                    <img src="@ImageServer/Content/Images/register/register_07.jpg" alt="">
                </div>
            </div>
            <div class="rightContent">
                @Html.Action("SharedLogin", "CN", new { displayCS = "false" })
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>