@using Heji.Web.Helpers
@{
    ViewBag.Title = "和记圣诞节活动专题 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}
@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/endorsement.css" />
}
@section AdditionalScripts {
    <script type="text/javascript" src="@ImageServer/Scripts/Custom/main.js"></script>
    <script type="text/javascript" src="@ImageServer/Scripts/Plugins/div-slider-1.0.3.js"></script>
}
<style type="text/css">
<!--
body {
	margin-top: 0px;
	background-color: #2d2926;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-family: 微软雅黑, 宋体, Arial;
}
.STYLE1 {
	color: #FFFFFF;
	font-size: 14px;
}
.STYLE2 {
	color: #FF0000;
	font-weight: bold;
}
.STYLE3 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
}
.STYLE4 {color: #FF0000}
.STYLE5 {
	color: #000000;
	font-size: 18px;
	font-weight: bold;
}
.STYLE9 {font-size: 14px}
.STYLE10 {font-size: 14px; color: #FF0000; }
.STYLE11 {font-size: 14px; color: #FF0000; text-decoration:underline }
a:hover {
	color: #FF9900;
}
-->
</style>
<script src="/Content/Styles/AC_RunActiveContent.js" type="text/javascript"></script>
<body>
    <table width="1000" height="358" border="0" align="center" cellpadding="0" cellspacing="0" background="@ImageServer/Content/Images/sd.jpg">
        <tr>
            <td>
                <table width="200" border="0" align="right" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <img src="" alt="" name="sign" width="250" height="192" id="sign" />
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="1000" height="236" border="0" align="center" cellpadding="0" cellspacing="0" background="@ImageServer/Content/Images/mod01.jpg">
        <tr>
            <td valign="top">
                <table width="90%" height="203" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="24%" height="23">
                            <p>
                                &nbsp;</p>
                        </td>
                        <td width="76%">
                            <p>
                                &nbsp;</p>
                            <p>
                                &nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="video-container">
                                <iframe src="http://player.youku.com/player.php/sid/XNjIzNDk5NDMy/v.swf" width="215"
                                    height="170" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                </iframe>
                            </div>
                        </td>
                        <td>
                            <table width="88%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="88%">
                                        <p class="STYLE1">
                                            和记网站改版后迎来了首个圣诞节，这也是和记与您共同度过的第五个圣诞节，今年的圣诞有点不一样，不但有丰富给力的优惠活动，更有我们的代言人吴亚馨与您共度圣诞周！</p>
                                        <p>
                                            <span class="STYLE1">只要您在活动期间在和记娱乐进行 <span class="STYLE2">存款</span>，即可获得开启“ <span
                                                class="STYLE2">圣诞礼盒</span> ”的机会，最高礼金 <span class="STYLE2">8888</span> 元！还有超值礼品券以及新款
                                                <span class="STYLE2">iPad</span> 、<span class="STYLE2">iPhone</span> 等实物奖品等您来拿！</span></p>
                                    </td>
                                    <td width="12%">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="1000" height="502" border="0" align="center" cellpadding="0" cellspacing="0" background="@ImageServer/Content/Images/mod02.jpg">
        <tr>
            <td>
                <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="62%">
                            <span class="STYLE3">当前姜饼数量：<span class="STYLE4">100</span>个</span>
                        </td>
                        <td width="38%">
                            <span class="STYLE3">中奖名单：</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <script type="text/javascript">
                                AC_FL_RunContent('codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0', 'width', '541', 'height', '348', 'src', '/Content/flash/sd', 'quality', 'high', 'pluginspage', 'http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash', 'movie', '/Content/flash/sd'); //end AC code
                            </script>
                            <noscript>
                                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0"
                                    width="541" height="348">
                                    <param name="movie" value="/Content/flash/sd.swf" />
                                    <param name="quality" value="high" />
                                    <embed src="/Content/flash/sd.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"
                                        type="application/x-shockwave-flash" width="541" height="348"></embed>
                                </object>
                            </noscript>
                        </td>
                        <td>
                            <table width="346" height="346" background="@ImageServer/Content/Images/mod04.jpg" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td valign="bottom">
                                        <table width="346" height="300" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <div id="colee" style="overflow: hidden; height: 300px; width: 346px;">
                                                        <div id="colee1">
                                                            <table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">lmnop***</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE10">500元</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">礼券</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="5%" bgcolor="#2D2926">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td width="41%" bgcolor="#2D2926">
                                                                        <span class="STYLE1">abcdefg00***</span>
                                                                    </td>
                                                                    <td width="35%" bgcolor="#2D2926">
                                                                        <span class="STYLE10">iphone 5S</span>
                                                                    </td>
                                                                    <td width="19%" bgcolor="#2D2926">
                                                                        <span class="STYLE1">实物</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">higk***</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE10">8888元</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">礼金</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td bgcolor="#2D2926">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">lmnop***</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE10">500元</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">礼券</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">abcdefg00***</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE10">iphone 5S</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">实物</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td bgcolor="#2D2926">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">higk***</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE10">8888元</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">礼金</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">lmnop***</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE10">500元</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">礼券</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td bgcolor="#2D2926">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">abcdefg00***</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE10">iphone 5S</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">实物</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">higk***</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE10">8888元</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">礼金</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td bgcolor="#2D2926">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">lmnop***</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE10">500元</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">礼券</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">abcdefg00***</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE10">iphone 5S</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">实物</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td bgcolor="#2D2926">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">higk***</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE10">8888元</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">礼金</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">lmnop***</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE10">500元</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">礼券</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td bgcolor="#2D2926">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">abcdefg00***</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE10">iphone 5S</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">实物</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">higk***</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE10">8888元</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">礼金</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td bgcolor="#2D2926">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">lmnop***</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE10">500元</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">礼券</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">abcdefg00***</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE10">iphone 5S</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">实物</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td bgcolor="#2D2926">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">higk***</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE10">8888元</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">礼金</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">lmnop***</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE10">500元</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">礼券</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td bgcolor="#2D2926">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">abcdefg00***</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE10">iphone 5S</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">实物</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">higk***</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE10">8888元</span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="STYLE1">礼金</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td bgcolor="#2D2926">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">lmnop***</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE10">500元</span>
                                                                    </td>
                                                                    <td bgcolor="#2D2926">
                                                                        <span class="STYLE1">礼券</span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div id="colee2">
                                                        </div>
                                                    </div>
                                                    <script>
                                                        var speed = 30;
                                                        var colee2 = document.getElementById("colee2");
                                                        var colee1 = document.getElementById("colee1");
                                                        var colee = document.getElementById("colee");
                                                        colee2.innerHTML = colee1.innerHTML; //克隆colee1为colee2
                                                        function Marquee1() {
                                                            //当滚动至colee1与colee2交界时
                                                            if (colee2.offsetTop - colee.scrollTop <= 0) {
                                                                colee.scrollTop -= colee1.offsetHeight; //colee跳到最顶端
                                                            } else {
                                                                colee.scrollTop++
                                                            }
                                                        }
                                                        var MyMar1 = setInterval(Marquee1, speed)//设置定时器
                                                        //鼠标移上时清除定时器达到滚动停止的目的
                                                        colee.onmouseover = function () { clearInterval(MyMar1) }
                                                        //鼠标移开时重设定时器
                                                        colee.onmouseout = function () { MyMar1 = setInterval(Marquee1, speed) }
                                                    </script>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="1000" height="822" border="0" align="center" cellpadding="0" cellspacing="0" background="@ImageServer/Content/Images/mod03.jpg">
        <tr>
            <td valign="bottom">
                <table width="91%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="83%">
                            <p>
                                <span class="STYLE5">活动说明：</span><br />
                            </p>
                        </td>
                        <td width="17%" colspan="14" rowspan="3">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="99%" border="0" cellpadding="0" cellspacing="4">
                                <tr>
                                    <td>
                                        <span class="STYLE9">1、 </span>
                                    </td>
                                    <td>
                                        <span class="STYLE9">活动时间：北京时间<span class="STYLE4">2013年12月23日中午12点</span>至<span
                                            class="STYLE4">2013年12月30日中午12点</span>。</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="STYLE9">2、 </span>
                                    </td>
                                    <td>
                                        <span class="STYLE9">摇奖机会：活动期间存款累积每满1000元，即可获得1个姜饼（姜饼用于开启礼盒），存款的越多姜饼越多，获取</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <span class="STYLE9">次数不设上限。</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="STYLE9">3、 </span>
                                    </td>
                                    <td>
                                        <span class="STYLE9">摇奖次数：登录会员账户，于活动页面查看即可。（抽奖前刷新活动页面，获取准确抽奖用姜饼数量）</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="STYLE9">4、 </span>
                                    </td>
                                    <td>
                                        <span class="STYLE9">礼金发放：开启礼盒所获礼金将即时自动发放至会员账户中，无需申请。</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="STYLE9">5、 </span>
                                    </td>
                                    <td>
                                        <span class="STYLE9">礼金出款：开启礼盒所获礼金只需完成一倍流水（全额投注）后即可申请取款。</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="STYLE9">6、 </span>
                                    </td>
                                    <td>
                                        <span class="STYLE9">开启时限：礼盒开启通道关闭时间为北京时间<span class="STYLE4">2014年1月6日中午12点</span>，请于通道关闭之前完成礼盒开启。</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="STYLE9">7、 </span>
                                    </td>
                                    <td>
                                        <span class="STYLE9">中奖名单：页面中将实时滚动显示最近中奖名单，同时为保护用户隐私，我们将隐去账号后3位。</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="STYLE9">8、 </span>
                                    </td>
                                    <td>
                                        <span class="STYLE9">其他事项：</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <span class="STYLE9">a． 获得实物奖（Iphone 5C/5S/IPad air/mini2）的用户，请通过<a href="#" class="STYLE11">在线客服</a>
                                            联系我们进行登记相关信息，我们将</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <span class="STYLE9">安排活动专员通过电话确认后续发奖安排。</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <span class="STYLE9">b． 获得礼品券的用户，可以选择发放电子券或实物券，请通过<a href="#" class="STYLE11">在线客服</a>
                                            联系我们选择适合您的发放方式。</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                &nbsp;</p>
                        </td>
                    </tr>
                </table>
                <p>
                    &nbsp;</p>
            </td>
        </tr>
    </table>
   @* </td> </tr> </table>*@
</body>
@*<div class="clearfix">
</div>*@
