@{
    ViewBag.Title = "博彩责任 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}
@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/quicklink.css" />
    <link rel="stylesheet" href="@ImageServer/Content/Styles/member.css" />
}
@section AdditionalScripts {
    @*<script type="text/javascript" src="@ImageServer/Scripts/Custom/about.js"></script>*@
}
<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <div class="banner">
                    <img src="@ImageServer/Content/Images/quicklink/banner/duty.jpg" alt="">
                </div>
                <div class="article duty">
                  <h4 class="red">隱私保护</h4>
                    <p>保护客户信息是大奖娱乐的核心价值。大奖娱乐十分尊重及重视会员的私隐权，我们将竭力保证您的信息与数据安全，并在员工培训和公司管理流程中不断强化相关政策和措施。</p><br/>

  <p>大奖娱乐绝对不会将您的个人资料泄露给任意第三方，除非收到菲律宾或美国法庭传票或判决。我们有权通过网站向有关付款平台服务提供商以及金融保险机构提供必要的个人信息以完成付款请求。</p><br/>

  <p>大奖娱乐采用了大型投资银行级别的加密科技（1024位RSA密钥交换和 448位blowfish），提供比一般商业级别SSL加密更高的保护。与最先进的防火墙系统配合, 有效防御外部攻击和堵塞传统数据管理漏洞。
所有数据的内部出入将受到严格限制和严密监控。</p>
                 
                 
                    </ul>
                       
             
                </div>
                <table class="more_actions" style="margin-left:40px;">
                    <tr>
                        <td valign="middle">
                            <a class="greyButton" href="@Url.Action("Register", "Member")">免费开户 &gt;</a>
                        </td>
                        <td valign="middle">
                            <a class="greyButton" href="@ImageServer/download/大奖娱乐.exe">下载客户端 &gt;</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="rightContent">
                @Html.Action("SharedLogin", "CN", new { displayCS = "false" })
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>
