@{
    ViewBag.Title = "博彩责任 - 大奖娱乐官方网站";
    Layout = "~/Views/Shared/_CNLayout.cshtml";
    string ImageServer = ViewContext.ViewData["ImageServer"].ToString();

}
@section AdditionalStyles {
    <link rel="stylesheet" href="@ImageServer/Content/Styles/quicklink.css" />
    <link rel="stylesheet" href="@ImageServer/Content/Styles/member.css" />
}
@section AdditionalScripts {
    @*<script type="text/javascript" src="@ImageServer/Scripts/Custom/about.js"></script>*@
}
<div id="wrapper">
    <div class="container">
        <div class="leftRightContent">
            <div class="leftContent">
                <div class="banner">
                    <img src="@ImageServer/Content/Images/quicklink/banner/duty.jpg" alt="">
                </div>
                <div class="article duty">
                    <h3 class="title">诚信为本</h3>
                    <p>博彩是一种娱乐，大多数人都可以享受博彩的乐趣而不会导致什麽问题。但是，就如一些人会对酒精和香烟上瘾，有些人则会对博彩上瘾。虽然，据研究只有百分之一的成年人口有这个问题，但对於我们，一个强逼性的赌徒也嫌太多。</p>
                    <p>我们无法预计谁会有这种倾向，但当博彩问题一被发现，它将可被成功地治癒。</p>
                    <br/>
                    <h3 class="title">和记娱乐在线娱乐声明，虽然强逼性的赌博不容易被发现，我们实施了一些措施来处理这个问题</h3>
                    <p>1、和记娱乐娱乐场的训练课程，包含了办认和对付强逼性赌博和未成年赌博的方法和技巧。</p>
                    <p>2、我们为那些需要援助人推出了一个自我逐出计划。在您的要求之下，我们会取消您的会员籍和不让您进入我们的赌场。</p>
                    <p>3、我们让您自设最高存款额。</p>
                    <p>4、在您的要求之下，我们会把您的名字从我们的电子邮件名单中除去。</p>
                    <br/>
                    <h3 class="title">为了您在访问我们的赌场时，能有一个愉快的体验，我们建议您遵循以下一些基本原则</h3>
                    <p>1、确定赌博是您个人的决定。
                    <p>2、在赌博之前，弄清楚您所能承受的合理损失。
                    <p>3、在以下情形下，千万不要赌博︰
                    <ul>
                        <li>1、您小於法定赌博年龄。</li>
                        <li>2、赌博影响到您的工作或其他责任。</li>
                        <li>3、您正处於成瘾性失调或依赖的恢复期。</li>
                        <li>4、您受酒精或其他物品的影响。</li>
                        <li>5、你企图弥补以前赌博的损失。要知道如何设置限制和如何适可而止。就像许多其他事情一样︰如果适度，是一种享受；如果过度，则会成为灾难。如果赌博不是您想做的、而您需要做的事；或您怀疑自已有赌博困难，请单击这里阅读更多资料或向以下组织寻求专业援助︰<br/>
                            <a href="#" target="_self">http://www.paropga.org.hk/faq.htm</a><br/>
                            <a href="#" target="_self">http://www.paropga.org.hk</a><br/>
                            <a href="#" target="_self">http://incpgambling.org/</a><br/>
                            <p>赌场赌博是少年人中较不流行的赌博方式。依照菲律宾(和记娱乐线上娱乐城领取执照的地点)法律，未满18岁的人士将不能参与赌博活动。我们的赌场不是为吸引儿童而设计的，我们强烈反对和追踪尝试到我们赌场玩的少年人。未成年赌博不是无害的活动。它可以由成年人带孩子到赌场或送奖券开始。</p>
                        </li>
                    </ul>
                    <br/>
                    <p>如果您的电脑装有到赌场的软件，我们鼓励您，装置保护儿童的软件。</p>
                    <p>当您的赌场软件在开动时，请不要在没有监管下，把孩子留在电脑旁边。</p>
                    <p>用密码保护您的赌场程序。</p>
                    <p>不允许未满18岁的人参与赌博活动。</p>
                    <p>把您的和记娱乐用户名、密码和信用卡放在孩子拿不到的地方。</p>
                    <p>教育您的孩子关於未成年赌博的合法性和潜在的损害。可是，任何系统都有漏洞，有些年轻人还是能逃过侦察。</p>
                    <p>如果您知道任何未满18岁的人在和记娱乐线上娱乐城注册，请立刻通佑我们的保安部门。</p>
                    <br/>
                </div>
            </div>
            <div class="rightContent">
                @Html.Action("SharedLogin", "CN")
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="zoneBtn horizontalList clearfix">
            <li class="tw_bbin borderRight"></li>
            <li class="macau_ag "></li>
            <li class="china_ag "></li>
            <li class="electronic borderLeft"></li>
        </ul>
    </div>
</div>
